In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from numpy import NaN
from scipy.stats import zscore

In [ ]:
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 300)
pd.set_option('display.expand_frame_repr', True)

### Data Files Location

* Most data files for the exercises can be found on the [course site](#https://www.datacamp.com/courses/manipulating-dataframes-with-pandas)
    * [Olympic medals](#https://assets.datacamp.com/production/repositories/502/datasets/bf22326ecc9171f68796ad805a7c1135288120b6/all_medalists.csv)
    * [Gapminder](#https://assets.datacamp.com/production/repositories/502/datasets/09378cc53faec573bcb802dce03b01318108a880/gapminder_tidy.csv)
    * [2012 US election results (Pennsylvania)](#https://assets.datacamp.com/production/repositories/502/datasets/502f4eedaf44ad1c94b3595c7691746f282e0b0a/pennsylvania2012_turnout.csv)
    * [Pittsburgh weather data](#https://assets.datacamp.com/production/repositories/502/datasets/6c4984cb81ea50971c1660434cc4535a6669a848/pittsburgh2013.csv)
    * [Sales](#https://assets.datacamp.com/production/repositories/502/datasets/4c6d3be9e8640e2d013298230c415d3a2a2162d4/sales.zip)
    * [Titanic](#https://assets.datacamp.com/production/repositories/502/datasets/e280ed94bf4539afb57d8b1cbcc14bcf660d3c63/titanic.csv)
    * [Users](#https://assets.datacamp.com/production/repositories/502/datasets/eaf29468b9fbaad454a74d3c2b59b36e5ab4558b/users.csv)
* Other data files may be found in my [DataCamp repository](#https://github.com/trenton3983/DataCamp/tree/master/data)

### Data File Objects

In [ ]:
election_penn = 'data/manipulating-dataframes-with-pandas/2012_US_election_results_(Pennsylvania).csv'
gapminder = 'data/manipulating-dataframes-with-pandas/gapminder.csv'
medals_data = 'data/manipulating-dataframes-with-pandas/olympic_medals.csv'
weather_data = 'data/manipulating-dataframes-with-pandas/Pittsburgh_weather_data.csv'
sales_data = 'data/manipulating-dataframes-with-pandas/sales.csv'
sales2_data = 'data/manipulating-dataframes-with-pandas/sales2.csv'
sales_feb = 'data/manipulating-dataframes-with-pandas/sales-feb-2015.csv'
titanic_data = 'data/manipulating-dataframes-with-pandas/titanics.csv'
users_data = 'data/manipulating-dataframes-with-pandas/users.csv'
massachusetts_labor = 'data/manipulating-dataframes-with-pandas/LURReport.csv'
auto_mpg = 'data/manipulating-dataframes-with-pandas/auto-mpg.csv'

# Manipulating DataFrames with pandas

***Course Description***

In this course, you'll learn how to leverage pandas' extremely powerful data manipulation engine to get the most out of your data. It is important to be able to extract, filter, and transform data from DataFrames in order to drill into the data that really matters. The pandas library has many techniques that make this process efficient and intuitive. You will learn how to tidy, rearrange, and restructure your data by pivoting or melting and stacking or unstacking DataFrames. These are all fundamental next steps on the road to becoming a well-rounded Data Scientist, and you will have the chance to apply all the concepts you learn to real-world datasets.

### What You'll Learn

* Extracting, filtering, and transforming data from DataFrames
* Advanced indexing with multiple levels
* Tidying, rearranging and restructuring your data
* Pivoting, melting, and stacking DataFrames
* Identifying and spli!ing DataFrames by groups

## Extracting and transforming data

In this chapter, you will learn all about how to index, slice, filter, and transform DataFrames, using a variety of datasets, ranging from 2012 US election data for the state of Pennsylvania to Pittsburgh weather data.

### Indexing DataFrames

#### A simple DataFrame

In [ ]:
df = pd.read_csv(sales_data, index_col='month')
df

#### Indexing using square brackets

In [ ]:
df['salt']['Jan']

#### Using column attribute and row label

In [ ]:
df.eggs['Mar']

#### Accessors

* A more efficient and more programmatically reusable method of accessing data in a DataFrame is by using accessors
    * .loc - accesses using lables
    * .iloc - accesses using index positions
* Both accessors use left bracket, row specifier, comma, column specifier, right bracket as syntax

##### Using the .loc accessor

In [ ]:
df.loc['May', 'spam']

##### Using the .iloc accessor

In [ ]:
df.iloc[4, 2]

#### Selecting only some columns

* When using bracket-indexing without the .loc or .iloc accessors, the result returned can be an individual value, Pandas Series, or Pandas DataFrame.
* To ensure the return value is a DataFrame, use a nested list within square brackets

In [ ]:
df_new = df[['salt','eggs']]
df_new

### Exercises

#### Index ordering

In this exercise, the DataFrame ***election*** is provided for you. It contains the 2012 US election results for the state of Pennsylvania with county names as row indices. Your job is to select ***'Bedford'*** county and the ***'winner'*** column. Which method is the preferred way?

In [ ]:
election = pd.read_csv(election_penn, index_col='county')
election.head()

In [ ]:
election.loc['Bedford', 'winner']

#### Positional and labeled indexing

Given a pair of label-based indices, sometimes it's necessary to find the corresponding positions. In this exercise, you will use the Pennsylvania election results again. The DataFrame is provided for you as ***election***.

Find ***x*** and ***y*** such that ***election.iloc[x, y] == election.loc['Bedford', 'winner']***. That is, what is the row position of ***'Bedford'***, and the column position of ***'winner'***? Remember that the first position in Python is 0, not 1!

To answer this question, first explore the DataFrame using ***election.head()*** in the IPython Shell and inspect it with your eyes.

***Instructions***

* Explore the DataFrame in the IPython Shell using ***election.head()***.
* Assign the row position of ***election.loc['Bedford']*** to ***x***.
* Assign the column position of ***election['winner']*** to ***y***.
* Hit 'Submit Answer' to print the boolean equivalence of the ***.loc*** and ***.iloc*** selections.

In [ ]:
# Assign the row position of election.loc['Bedford']: x
x = 4

# Assign the column position of election['winner']: y
y = 4

# Print the boolean equivalence
print(election.iloc[x, y] == election.loc['Bedford', 'winner'])

***Depending on the situation, you may wish to use .iloc[] over .loc[], and vice versa. The important thing to realize is you can achieve the exact same results using either approach.***

#### Indexing and column rearrangement

There are circumstances in which it's useful to modify the order of your DataFrame columns. We do that now by extracting just two columns from the Pennsylvania election results DataFrame.

Your job is to read the CSV file and set the index to ***'county'***. You'll then assign a new DataFrame by selecting the list of columns ***['winner', 'total', 'voters']***. The CSV file is provided to you in the variable ***filename***.

***Instructions***

* Import pandas as pd.
* Read in ***filename*** using ***pd.read_csv()*** and set the index to ***'county'*** by specifying the ***index_col*** parameter.
* Create a separate DataFrame ***results*** with the columns ***['winner', 'total', 'voters']***.
* Print the output using ***results.head()***. This has been done for you, so hit 'Submit Answer' to see the new DataFrame!

In [ ]:
# Read in filename and set the index: election
election = pd.read_csv(election_penn, index_col='county')

# Create a separate dataframe with the columns ['winner', 'total', 'voters']: results
results = election[['winner', 'total', 'voters']]

# Print the output of results.head(['winner', 'total', 'voters'])
print(results.head())

***The original election DataFrame had 6 columns, but as you can see, your results DataFrame now has just the 3 columns: 'winner', 'total', and 'voters'.***

### Slicing DataFrames

#### sales DataFrame

In [ ]:
df = pd.read_csv(sales_data, index_col='month')
df

#### Selecting a column (i.e., Series)

In [ ]:
df['eggs']

In [ ]:
type(df.eggs)

#### Slicing and indexing a Series

In [ ]:
df['eggs'][1:4] # Part of the eggs column

In [ ]:
df['eggs'][4] # The value associated with May

#### Using .loc[] (1)

In [ ]:
df.loc[:, 'eggs':'salt'] # All rows, some columns

#### Using .loc[] (2)

In [ ]:
df.loc['Jan':'Apr',:] # Some rows, all columns

#### Using .loc[] (3)

In [ ]:
df.loc['Mar':'May', 'salt':'spam']

#### Using .iloc[]

In [ ]:
df.iloc[2:5, 1:] # A block from middle of the DataFrame

#### Using lists rather than slices (1)

In [ ]:
df.loc['Jan':'May', ['eggs', 'spam']]

#### Using lists rather than slices (2)####

In [ ]:
df.iloc[[0,4,5], 0:2]

#### Series versus 1-column DataFrame

In [ ]:
# A Series by column name
df['eggs']

In [ ]:
type(df['eggs'])

In [ ]:
# A DataFrame w/ single column
df[['eggs']]

In [ ]:
type(df[['eggs']])

### Exercises

#### Slicing rows

The Pennsylvania US election results data set that you have been using so far is ordered by county name. This means that county names can be sliced alphabetically. In this exercise, you're going to perform slicing on the county names of the ***election*** DataFrame from the previous exercises, which has been pre-loaded for you.

***Instructions***

* Slice the row labels ***'Perry'*** to ***'Potter'*** and assign the output to ***p_counties***.
* Print the ***p_counties*** DataFrame. This has been done for you.
* Slice the row labels ***'Potter'*** to ***'Perry'*** in reverse order. To do this for hypothetical row labels ***'a'*** and ***'b'***, you could use a stepsize of ***-1*** like so: ***df.loc['b':'a':-1]***.
* Print the ***p_counties_rev*** DataFrame. This has also been done for you, so hit 'Submit Answer' to see the result of your slicing!

In [ ]:
# Slice the row labels 'Perry' to 'Potter': p_counties
p_counties = election.loc['Perry':'Potter']

# Print the p_counties DataFrame
print(p_counties)

# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
p_counties_rev = election.loc['Potter':'Perry':-1]

# Print the p_counties_rev DataFrame
print(p_counties_rev)

#### Slicing columns

Similar to row slicing, columns can be sliced by value. In this exercise, your job is to slice column names from the Pennsylvania election results DataFrame using ***.loc[]***.

It has been pre-loaded for you as ***election***, with the index set to ***'county'***.

***Instructions***

* Slice the columns from the starting column to ***'Obama'*** and assign the result to ***left_columns***
* Slice the columns from ***'Obama'*** to ***'winner'*** and assign the result to ***middle_columns***
* Slice the columns from ***'Romney'*** to the end and assign the result to ***right_columns***
* The code to print the first 5 rows of ***left_columns***, ***middle_columns***, and ***right_columns*** has been written, so hit 'Submit Answer' to see the results!

In [ ]:
# Slice the columns from the starting column to 'Obama': left_columns
left_columns = election.loc[:, :'Obama']

# Print the output of left_columns.head()
print('Left Columns: \n', left_columns.head())

# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election.loc[:, 'Obama':'winner']

# Print the output of middle_columns.head()
print('\nMiddle Columns: \n', middle_columns.head())

# Slice the columns from 'Romney' to the end: 'right_columns'
right_columns = election.loc[:, 'Romney':]

# Print the output of right_columns.head()
print('\nRight Columns: \n', right_columns.head())

#### Subselecting DataFrames with lists

You can use lists to select specific row and column labels with the ***.loc[]*** accessor. In this exercise, your job is to select the counties ***['Philadelphia', 'Centre', 'Fulton']*** and the columns ***['winner','Obama','Romney']*** from the ***election*** DataFrame, which has been pre-loaded for you with the index set to ***'county'***.

Instructions

* Create the list of row labels ***['Philadelphia', 'Centre', 'Fulton']*** and assign it to ***rows***.
* Create the list of column labels ***['winner', 'Obama', 'Romney']*** and assign it to ***cols***.
* Create a new DataFrame by selecting with ***rows*** and ***cols*** in ***.loc[]*** and assign it to ***three_counties***.
* Print the ***three_counties*** DataFrame. This has been done for you, so hit 'Submit Answer` to see your new DataFrame.

In [ ]:
# Create the list of row labels: rows
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels: cols
cols = ['winner', 'Obama', 'Romney']

# Create the new DataFrame: three_counties
three_counties = election.loc[rows, cols]

# Print the three_counties DataFrame
print(three_counties)

***If you know exactly which rows and columns are of interest to you, this is a useful approach for subselecting DataFrames.***

### Filtering DataFrames

#### Data

In [ ]:
df = pd.read_csv(sales_data, index_col='month')
df

#### Creating a Boolean Series

In [ ]:
df.salt > 60

#### Filtering with a Boolean Series

In [ ]:
df[df.salt > 60]

In [ ]:
enough_salt_sold = df.salt > 60

In [ ]:
df[enough_salt_sold]

#### Combining filters

In [ ]:
df[(df.salt >= 50) & (df.eggs < 200)] # Both conditions

In [ ]:
df[(df.salt >= 50) | (df.eggs < 200)] # Either condition

#### DataFrames with zeros and NaNs

In [ ]:
df2 = df.copy()

In [ ]:
df2['bacon'] = [0, 0, 50, 60, 70, 80]

In [ ]:
df2

#### Select columns with all nonzeros

In [ ]:
df2.loc[:, df2.all()]

#### Select columns with any nonzeros

In [ ]:
df2.loc[:, df2.any()]

#### Select columns with any NaNs

In [ ]:
df.loc[:, df.isnull().any()]

#### Select columns without NaNs

In [ ]:
df.loc[:, df.notnull().all()]

#### Drop rows with any NaNs

In [ ]:
df.dropna(how='any')

#### Filtering a column based on another

In [ ]:
df.eggs[df.salt > 55]

#### Modifying a column based on another

In [ ]:
df.eggs[df.salt > 55] += 5

In [ ]:
df

### Exercises

#### Thresholding data

In this exercise, we have provided the Pennsylvania election results and included a column called ***'turnout'*** that contains the percentage of voter turnout per county. Your job is to prepare a boolean array to select all of the rows and columns where voter turnout exceeded 70%.

As before, the DataFrame is available to you as ***election*** with the index set to ***'county'***.

***Instructions***

* Create a boolean array of the condition where the ***'turnout'*** column is greater than ***70*** and assign it to ***high_turnout***.
* Filter the ***election*** DataFrame with the ***high_turnout*** array and assign it to ***high_turnout_df***.
* Print the filtered DataFrame. This has been done for you, so hit 'Submit Answer' to see it!

In [ ]:
election = pd.read_csv(election_penn, index_col='county')

In [ ]:
# Create the boolean array: high_turnout
high_turnout = election.turnout > 70

# Filter the election DataFrame with the high_turnout array: high_turnout_df
high_turnout_df = election[high_turnout]

# Print the high_turnout_results DataFrame
print(high_turnout_df)

#### Filtering columns using other columns

The election results DataFrame has a column labeled ***'margin'*** which expresses the number of extra votes the winner received over the losing candidate. This number is given as a percentage of the total votes cast. It is reasonable to assume that in counties where this margin was less than 1%, the results would be too-close-to-call.

Your job is to use boolean selection to filter the rows where the margin was less than 1. You'll then convert these rows of the ***'winner'*** column to ***np.nan*** to indicate that these results are too close to declare a winner.

The DataFrame has been pre-loaded for you as ***election***.

***Instructions***

* Import ***numpy*** as ***np***.
* Create a boolean array for the condition where the ***'margin'*** column is less than 1 and assign it to ***too_close***.
* Convert the entries in the ***'winner'*** column where the result was too close to call to ***np.nan***.
* Print the output of ***election.info()***. This has been done for you, so hit 'Submit Answer' to see the results.

In [ ]:
# Create the boolean array: too_close
too_close = election.margin < 1

# Assign np.nan to the 'winner' column where the results were too close to call
election.winner[too_close] = NaN

# Print the output of election.info()
print(election.info())

#### Filtering using NaNs

In certain scenarios, it may be necessary to remove rows and columns with missing data from a DataFrame. The ***.dropna()*** method is used to perform this action. You'll now practice using this method on a dataset obtained from [Vanderbilt University](#http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.html), which consists of data from passengers on the Titanic.

The DataFrame has been pre-loaded for you as ***titanic***. Explore it in the IPython Shell and you will note that there are many NaNs. You will focus specifically on the ***'age'*** and ***'cabin'*** columns in this exercise. Your job is to use ***.dropna()*** to remove rows where any of these two columns contains missing data and rows where all of these two columns contain missing data.

You'll also use the ***.shape*** attribute, which returns the number of rows and columns in a tuple from a DataFrame, or the number of rows from a Series, to see the effect of dropping missing values from a DataFrame.

Finally, you'll use the ***thresh=*** keyword argument to drop columns from the full dataset that have less than 1000 non-missing values.

***Instructions***

* Select the ***'age***' and ***'cabin'*** columns of ***titanic*** and create a new DataFrame ***df***.
* Print the shape of ***df***. This has been done for you.
* Drop rows in ***df*** with ***how='any'*** and print the shape.
* Drop rows in ***df*** with ***how='all'*** and print the shape.
* Drop columns from the ***titanic*** DataFrame that have less than 1000 non-missing values by specifying the ***thresh*** and ***axis*** keyword arguments. Print the output of ***.info()*** from this.

In [ ]:
titanic = pd.read_csv(titanic_data)

In [ ]:
# Select the 'age' and 'cabin' columns: df
df = titanic[['age', 'cabin']]

# Print the shape of df
print(df.shape)

# Drop rows in df with how='any' and print the shape
print('\n', df.dropna(how='any').shape)

# Drop rows in df with how='all' and print the shape
print('\n', df.dropna(how='all').shape)

# Drop columns in titanic with less than 1000 non-missing values
print('\n', titanic.dropna(thresh=1000, axis='columns').info())

### Transforming DataFrames

#### Data

In [ ]:
df = pd.read_csv(sales_data, index_col='month')
df

#### DataFrame vectorized methods

In [ ]:
df.floordiv(12) # Convert to dozens unit

#### NumPy vectorized functions

* [np.floor_divide](#https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.floor_divide.html)
* [invalid value encountered in floor_divide](#https://stackoverflow.com/questions/14861891/runtimewarning-invalid-value-encountered-in-divide)

In [ ]:
np.floor_divide(df, 12) # Convert to dozens unit

#### Plain Python functions (1)

In [ ]:
def dozens(n):
    return n//12

In [ ]:
df.apply(dozens)  # Convert to dozens unit

#### Plain Python functions (2)

In [ ]:
df.apply(lambda n: n//12)

#### Storing a transformation

In [ ]:
df['dozens_of_eggs'] = df.eggs.floordiv(12)
df

#### The DataFrame index

In [ ]:
df.index

#### Working with string values (1)

In [ ]:
df.index = df.index.str.upper()
df

#### Working with string values (2)

In [ ]:
df.index = df.index.map(str.lower)
df

#### Defining columns using other columns

In [ ]:
df['salty_eggs'] = df.salt + df.dozens_of_eggs
df

### Exercises

#### Using apply() to transform a column

The ***.apply()*** method can be used on a pandas DataFrame to apply an arbitrary Python function to every element. In this exercise you'll take daily weather data in Pittsburgh in 2013 obtained from [Weather Underground](#https://www.wunderground.com/history).

A function to convert degrees Fahrenheit to degrees Celsius has been written for you. Your job is to use the ***.apply()*** method to perform this conversion on the 'Mean TemperatureF' and 'Mean Dew PointF' columns of the weather DataFrame.

***Instructions***

* Apply the ***to_celsius()*** function over the ***['Mean TemperatureF','Mean Dew PointF']*** columns of the ***weather*** DataFrame.
* Reassign the columns of ***df_celsius*** to ***['Mean TemperatureC','Mean Dew PointC']***.
* Hit 'Submit Answer' to see the new DataFrame with the converted units.

In [ ]:
weather = pd.read_csv(weather_data)

In [ ]:
# Write a function to convert degrees Fahrenheit to degrees Celsius: to_celsius
def to_celsius(F):
    return 5/9*(F - 32)

In [ ]:
# Apply the function over 'Mean TemperatureF' and 'Mean Dew PointF': df_celsius
df_celsius = weather[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius)
df_celsius.head()

In [ ]:
# Reassign the columns df_celsius
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']
df_celsius.head()

#### Using .map() with a dictionary

The ***.map()*** method is used to transform values according to a Python dictionary look-up. In this exercise you'll practice this method while returning to working with the ***election*** DataFrame, which has been pre-loaded for you.

Your job is to use a dictionary to map the values ***'Obama'*** and ***'Romney'*** in the ***'winner'*** column to the values ***'blue'*** and ***'red'***, and assign the output to the new column ***'color'***.

***Instructions***

* Create a dictionary with the key:value pairs ***'Obama':'blue'*** and ***'Romney':'red'***.
* Use the ***.map()*** method on the ***'winner'*** column using the ***red_vs_blue*** dictionary you created.
* Print the output of ***election.head()***. This has been done for you, so hit 'Submit Answer' to see the new column!

In [ ]:
election =  pd.read_csv(election_penn, index_col='county')
election.head()

In [ ]:
# Create the dictionary: red_vs_blue
red_vs_blue = {'Obama':'blue', 'Romney':'red'}

# Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election.winner.map(red_vs_blue)

# Print the output of election.head()
election.head()

#### Using vectorized functions

When performance is paramount, you should avoid using ***.apply()*** and ***.map()*** because those constructs perform Python for-loops over the data stored in a pandas Series or DataFrame. By using vectorized functions instead, you can loop over the data at the same speed as compiled code (C, Fortran, etc.)! NumPy, SciPy and pandas come with a variety of vectorized functions (called Universal Functions or UFuncs in NumPy).

You can even write your own vectorized functions, but for now we will focus on the ones distributed by NumPy and pandas.

In this exercise you're going to import the ***zscore*** function from ***scipy.stats*** and use it to compute the deviation in voter turnout in Pennsylvania from the mean in fractions of the standard deviation. In statistics, the z-score is the number of standard deviations by which an observation is above the mean - so if it is negative, it means the observation is below the mean.

Instead of using ***.apply()*** as you did in the earlier exercises, the ***zscore*** UFunc will take a pandas Series as input and return a NumPy array. You will then assign the values of the NumPy array to a new column in the DataFrame. You will be working with the ***election*** DataFrame - it has been pre-loaded for you.

***Instructions***

* Import ***zscore*** from ***scipy.stats***.
* Call ***zscore*** with ***election['turnout']*** as input .
* Print the output of ***type(turnout_zscore)***. This has been done for you.
* Assign ***turnout_zscore*** to a new column in ***election*** as ***'turnout_zscore'***.
* Print the output of ***election.head()***. This has been done for you, so hit 'Submit Answer' to view the result.

In [ ]:
# Call zscore with election['turnout'] as input: turnout_zscore
turnout_zscore = zscore(election.turnout)

# Print the type of turnout_zscore
print('Type: \n', type(turnout_zscore), '\n')

# Assign turnout_zscore to a new column: election['turnout_zscore']
election['turnout_zscore'] = turnout_zscore

# Print the output of election.head()
election.head()

## Advanced Indexing

Having learned the fundamentals of working with DataFrames, you will now move on to more advanced indexing techniques. You will learn about MultiIndexes, or hierarchical indexes, and learn how to interact with and extract data from them.

### Index objects and labeled data

#### pandas Data Structures

* Key building blocks
    * Indexes: Sequence of lables
    * Series: 1D array with index
    * DataFrames: 2D array with Series as columns
* Indexes
    * Immutable (Like dictionary keys)
    * Homogenous in data type (Like NumPy arrays)

#### Creating a Series

In [ ]:
prices = [10.70, 10.86, 10.74, 10.71, 10.79]
shares = pd.Series(prices)
shares

#### Creating an index

In [ ]:
days = ['Mon', 'Tue', 'Wed', 'Thur', 'Fri']
shares = pd.Series(prices, index=days)
shares

#### Examining an index

In [ ]:
print(shares.index)
print(shares.index[2])
print(shares.index[:2])
print(shares.index[-2:])
print(shares.index.name)

#### Modifying index name

In [ ]:
shares.index.name = 'weekday'
shares

#### Modifying index entries

In [ ]:
try:
    shares.index[2] = 'Wednesday'
except TypeError:
    print('TypeError: Index does not support mutable operations')

In [ ]:
try:
    shares.index[:4]= ['Monday', 'Tuesday', 'Wednesday', 'Thursday']
except TypeError:
    print('TypeError: Index does not support mutable operations')

#### Modifying all index entries

In [ ]:
shares.index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
shares

#### Unemployment data - Massachusetts

In [ ]:
unemployment = pd.read_csv('data/manipulating-dataframes-with-pandas/LURReport.csv', parse_dates=[['Year', 'Month']])
unemployment.head()

In [ ]:
unemployment.info()

#### Assigning the index

In [ ]:
unemployment.index = unemployment.Area
unemployment.head()

#### Removing extr column

In [ ]:
del unemployment['Area']
unemployment.head()

#### Examining index & columns

In [ ]:
print('Index: \n', unemployment.index)
print('\nIndex Name:\n', unemployment.index.name)
print('\nIndex Type:\n', type(unemployment.index))
print('\nDataFrame Columns\n', unemployment.columns)

#### read_csv() with index_col()

In [ ]:
unemployment = pd.read_csv('data/manipulating-dataframes-with-pandas/LURReport.csv',
                           parse_dates=[['Year', 'Month']],
                           index_col='Area')
unemployment.head()

### Exercises

#### Data

In [ ]:
df = pd.read_csv(sales_data, index_col='month')
df

#### Index values and names

Which one of the following index operations does not raise an error?

The ***sales*** DataFrame which you have seen in the videos of the previous chapter has been pre-loaded for you and is available for exploration in the IPython Shell.

***Instructions***

Possible Answers

* sales.index[0] = 'JAN'.
* sales.index[0] = sales.index[0].upper().
* ***sales.index = range(len(sales)).***

#### Changing index of a DataFrame

As you saw in the previous exercise, indexes are immutable objects. This means that if you want to change or modify the index in a DataFrame, then you need to change the whole index. You will do this now, using a list comprehension to create the new index.

A list comprehension is a succinct way to generate a list in one line. For example, the following list comprehension generates a list that contains the cubes of all numbers from 0 to 9:

```python
cubes = [i**3 for i in range(10)]
```

This is equivalent to the following code:

```python
cubes = []
for i in range(10):
    cubes.append(i**3)
```

Before getting started, print the sales DataFrame in the IPython Shell and verify that the index is given by month abbreviations containing lowercase characters.

***Instructions***

* Create a list ***new_idx*** with the same elements as in ***sales.index***, but with all characters capitalized.
* Assign ***new_idx*** to ***sales.index***.
* Print the ***sales*** dataframe. This has been done for you, so hit 'Submit Answer' and to see how the index changed.

In [ ]:
# Create the list of new indexes: new_idx
new_idx = [x.upper() for x in df.index]

# Assign new_idx to sales.index
df.index = new_idx

# Print the sales DataFrame
print(df)

#### Changing index name labels

Notice that in the previous exercise, the index was not labeled with a name. In this exercise, you will set its name to ***'MONTHS'***.

Similarly, if all the columns are related in some way, you can provide a label for the set of columns.

To get started, print the ***sales*** DataFrame in the IPython Shell and verify that the index has no name, only its data (the month names).

***Instructions***

* Assign the string ***'MONTHS'*** to ***sales.index.name*** to create a name for the index.
* Print the ***sales*** dataframe to see the index name you just created.
* Now assign the string ***'PRODUCTS'*** to ***sales.columns.name*** to give a name to the set of columns.
* Print the ***sales*** dataframe again to see the columns name you just created.

In [ ]:
# Assign the string 'MONTHS' to sales.index.name
df.index.name = 'MONTHS'

# Print the sales DataFrame
print(df)

# Assign the string 'PRODUCTS' to sales.columns.name 
df.columns.name = 'PRODUCTS'

# Print the sales dataframe again
print('\n', df)

#### Building an index, then a DataFrame

You can also build the DataFrame and index independently, and then put them together. If you take this route, be careful, as any mistakes in generating the DataFrame or the index can cause the data and the index to be aligned incorrectly.

In this exercise, the ***sales*** DataFrame has been provided for you without the month index. Your job is to build this index separately and then assign it to the ***sales*** DataFrame. Before getting started, print the ***sales*** DataFrame in the IPython Shell and note that it's missing the month information.

***Instructions***

* Generate a list ***months*** with the data ***['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']***. This has been done for you.
* Assign ***months*** to ***sales.index***.
* Print the modified ***sales*** dataframe and verify that you now have month information in the index.

In [ ]:
df = pd.read_csv(sales_data, usecols=['eggs', 'salt', 'spam'])
df

In [ ]:
# Generate the list of months: months
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

# Assign months to sales.index
df.index = months

# Print the modified sales DataFrame
print(df)

### Hierarchical indexing

#### Stock Data

In [ ]:
stocks = pd.DataFrame([['2016-10-03', 31.50, 14070500, 'CSCO'],
                       ['2016-10-03', 112.52, 21701800, 'AAPL'],
                       ['2016-10-03', 57.42, 19189500, 'MSFT'],
                       ['2016-10-04', 113.00, 29736800, 'AAPL'],
                       ['2016-10-04', 57.24, 20085900, 'MSFT'],
                       ['2016-10-04', 31.35, 18460400, 'CSCO'],
                       ['2016-10-05', 57.64, 16726400, 'MSFT'],
                       ['2016-10-05', 31.59, 11808600, 'CSCO'],
                       ['2016-10-05', 113.05, 21453100, 'AAPL']],
                      columns=['Date', 'Close', 'Volume', 'Symbol'])
stocks

#### Setting index

In [ ]:
stocks = stocks.set_index(['Symbol', 'Date'])
stocks

#### MultiIndex on DataFrame

In [ ]:
stocks.index

In [ ]:
print(stocks.index.name)
print(stocks.index.names)

#### Sorting index

In [ ]:
stocks = stocks.sort_index()
stocks

#### Indexing (individual row)

In [ ]:
stocks.loc[('CSCO', '2016-10-04')]

In [ ]:
stocks.loc[('CSCO', '2016-10-04'), 'Volume']

#### Slicing (outermost index)

In [ ]:
stocks.loc['AAPL']

#### Slicing (outermost index)

In [ ]:
stocks.loc['CSCO':'MSFT']

#### Fancy indexing (outermost index)

In [ ]:
stocks.loc[(['AAPL', 'MSFT'], '2016-10-05'), :]

In [ ]:
stocks.loc[(['AAPL', 'MSFT'], '2016-10-05'), 'Close']

#### Fancy indexing (innermost index)

In [ ]:
stocks.loc[('CSCO', ['2016-10-05', '2016-10-03']), :]

#### Slicing (both indexes)

In [ ]:
stocks.loc[(slice(None), slice('2016-10-03', '2016-10-04')),:]

### Exercises

#### Sales Data

In [ ]:
sales = pd.read_csv(sales2_data, index_col=['state', 'month'])
sales

#### Extracting data with a MultiIndex

In the video, Dhavide explained the concept of a hierarchical index, or a MultiIndex. You will now practice working with these types of indexes.

The ***sales*** DataFrame you have been working with has been extended to now include State information as well. In the IPython Shell, print the new ***sales*** DataFrame to inspect the data. Take note of the MultiIndex!

Extracting elements from the outermost level of a ***MultiIndex*** is just like in the case of a single-level ***Index***. You can use the ***.loc[]*** accessor as Dhavide demonstrated in the video.

***Instructions***

* Print ***sales.loc[['CA', 'TX']]***. Note how New York is excluded.
* Print ***sales['CA':'TX']***. Note how New York is included.

In [ ]:
# Print sales.loc[['CA', 'TX']]
print(sales.loc[['CA', 'TX']])

# Print sales['CA':'TX']
print('\n', sales['CA':'TX'])

***Notice how New York is excluded by the first operation, and included in the second one.***

#### Setting & sorting a MultiIndex

In the previous exercise, the MultiIndex was created and sorted for you. Now, you're going to do this yourself! With a MultiIndex, you should always ensure the index is sorted. You can skip this only if you know the data is already sorted on the index fields.

To get started, print the pre-loaded ***sales*** DataFrame in the IPython Shell to verify that there is no MultiIndex.

***Instructions***

* Create a MultiIndex by setting the index to be the columns ***['state', 'month']***.
* Sort the MultiIndex using the ***.sort_index()*** method.
* Print the ***sales*** DataFrame. This has been done for you, so hit 'Submit Answer' to verify that indeed you have an index with the fields ***state*** and ***month***!

In [ ]:
sales = pd.read_csv(sales2_data)

# Set the index to be the columns ['state', 'month']: sales
sales = sales.set_index(['state', 'month'])

# Sort the MultiIndex: sales
sales = sales.sort_index()

# Print the sales DataFrame
sales

#### Using .loc[] with nonunique indexes

As Dhavide mentioned in the video, it is always preferable to have a meaningful index that uniquely identifies each row. Even though pandas does not require unique index values in DataFrames, it works better if the index values are indeed unique. To see an example of this, you will index your ***sales*** data by ***'state'*** in this exercise.

As always, begin by printing the ***sales*** DataFrame in the IPython Shell and inspecting it.

***Instructions***

* Set the index of ***sales*** to be the column ***'state'***.
* Print the ***sales*** DataFrame to verify that indeed you have an index with ***state*** values.
* Access the data from ***'NY'*** and print it to verify that you obtain two rows.

In [ ]:
sales = pd.read_csv(sales2_data)

# Set the index to the column 'state': sales
sales = sales.set_index('state')

# Print the sales DataFrame
print(sales)

# Access the data from 'NY'
print('\n', sales.loc['NY'])

#### Indexing multiple levels of a MultiIndex

Looking up indexed data is fast and efficient. And you have already seen that lookups based on the outermost level of a ***MultiIndex*** work just like lookups on DataFrames that have a single-level ***Index***.

Looking up data based on inner levels of a ***MultiIndex*** can be a bit trickier. In this exercise, you will use your ***sales*** DataFrame to do some increasingly complex lookups.

The trickiest of all these lookups are when you want to access some inner levels of the index. In this case, you need to use ***slice(None)*** in the slicing parameter for the outermost dimension(s) instead of the usual ***:***, or use ***pd.IndexSlice***. You can refer to the [pandas documentation](#http://pandas.pydata.org/pandas-docs/stable/advanced.html) for more details. For example, in the video, Dhavide used the following code to extract rows from all Symbols for the dates Oct. 3rd through 4th inclusive:

```python
stocks.loc[(slice(None), slice('2016-10-03', '2016-10-04')), :]
```

Pay particular attention to the tuple:

```python
(slice(None), slice('2016-10-03', '2016-10-04')).
```

***Instructions***

* Look up data for the New York column (***'NY'***) in month ***1***.
* Look up data for the California and Texas columns (***'CA'***, ***'TX'***) in month ***2***.
* Look up data for all states in month ***2***. Use ***(slice(None), 2)*** to extract all rows in month ***2***

In [ ]:
sales = pd.read_csv(sales2_data, index_col=['state', 'month'])
sales

In [ ]:
# Look up data for NY in month 1: NY_month1
NY_month1 = sales.loc[('NY', 1), :]
NY_month1

In [ ]:
# Look up data for CA and TX in month 2: CA_TX_month2
CA_TX_month2 = sales.loc[(('CA', 'TX'), 2), :]
CA_TX_month2

In [ ]:
# Look up data for all states in month 2: all_month2
all_month2 = sales.loc[(slice(None), 2), :]
all_month2

## Rearranging and reshaping data

Here, you will learn how to reshape your DataFrames using techniques such as pivoting, melting, stacking, and unstacking. These are powerful techniques that allow you to tidy and rearrange your data into the format that allows you to most easily analyze it for insights.

### Pivoting DataFrames

#### Clinical Trials Data

In [ ]:
trials = pd.DataFrame([[1, 'A', 'F', 5],
                       [2, 'A', 'M', 3],
                       [3, 'B', 'F', 8],
                       [4, 'B', 'M', 9]],
                      columns=['id', 'treatment', 'gender', 'response'])
trials

#### Reshaping by pivoting

In [ ]:
trials.pivot(index='treatment',
             columns='gender',
             values='response')

#### Pivoting multiple columns

In [ ]:
trials.pivot(index='treatment', columns='gender')

### Exercises

#### Pivoting and the index

Prior to using ***.pivot()***, you need to set the index of the DataFrame somehow. Is this statement True or False?

Answer the question

***False***

#### Pivoting a single variable

Suppose you started a blog for a band, and you would like to log how many visitors you have had, and how many signed-up for your newsletter. To help design the tours later, you track where the visitors are. A DataFrame called ***users*** consisting of this information has been pre-loaded for you.

Inspect ***users*** in the IPython Shell and make a note of which variable you want to use to index the rows (***'weekday'***), which variable you want to use to index the columns (***'city'***), and which variable will populate the values in the cells (***'visitors'***). Try to visualize what the result should be.

For example, in the video, Dhavide used ***'treatment'*** to index the rows, ***'gender'*** to index the columns, and ***'response'*** to populate the cells. Prior to pivoting, the DataFrame looked like this:

```python
   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         B      F         8
3   4         B      M         9
```

After pivoting:

```python
gender     F  M
treatment      
A          5  3
B          8  9
```

In this exercise, your job is to pivot ***users*** so that the focus is on ***'visitors'***, with the columns indexed by ***'city'*** and the rows indexed by ***'weekday'***.

***Instructions***

* Pivot the ***users*** DataFrame with the rows indexed by ***'weekday'***, the columns indexed by ***'city'***, and the values populated with ***'visitors'***.
* Print the pivoted DataFrame. This has been done for you, so hit 'Submit Answer' to view the result.

In [ ]:
users = pd.read_csv(users_data)
users

In [ ]:
# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users.pivot(index='weekday',
                             columns='city',
                             values='visitors')
visitors_pivot

***Notice how in the pivoted DataFrame, the index is labeled 'weekday', the columns are labeled 'city', and the values are populated by the number of visitors.***

#### Pivoting all variables

If you do not select any particular variables, all of them will be pivoted. In this case - with the ***users*** DataFrame - both ***'visitors'*** and ***'signups'*** will be pivoted, creating hierarchical column labels.

You will explore this for yourself now in this exercise.

***Instructions***

* Pivot the ***users*** DataFrame with the ***'signups'*** indexed by ***'weekday'*** in the rows and ***'city'*** in the columns.
* Print the new DataFrame. This has been done for you.
* Pivot the ***users*** DataFrame with both ***'signups'*** and ***'visitors'*** pivoted - that is, all the variables. This will happen automatically if you do not specify an argument for the ***values*** parameter of ***.pivot()***.
* Print the pivoted DataFrame. This has been done for you, so hit 'Submit Answer' to see the result.

In [ ]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', columns='city', values='signups')
signups_pivot

In [ ]:
# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday', columns='city')
pivot

***Notice how in the second DataFrame, both 'signups' and 'visitors' were pivoted by default since you didn't provide an argument for the values parameter.***

### Stacking & unstacking DataFrames

#### Creating a multi-level index

In [ ]:
trials

In [ ]:
trials = trials.set_index(['treatment', 'gender'])
trials

#### Unstacking a multi-index (1)

In [ ]:
trials.unstack(level='gender')

#### Unstacking a multi-index (2)

In [ ]:
trials

In [ ]:
trials.unstack(level=1)

#### Stacking DataFrames

In [ ]:
trials_by_gender = trials.unstack(level='gender')
trials_by_gender

In [ ]:
trials_by_gender.stack(level='gender')

In [ ]:
stacked = trials_by_gender.stack(level='gender')
stacked

#### Swapping levels

In [ ]:
swapped = stacked.swaplevel(0, 1)
swapped

#### Sorting rows

In [ ]:
sorted_trials = swapped.sort_index()
sorted_trials

### Exercises

#### Stacking & unstacking I

You are now going to practice stacking and unstacking DataFrames. The ***users*** DataFrame you have been working with in this chapter has been pre-loaded for you, this time with a MultiIndex. Explore it in the IPython Shell to see the data layout. Pay attention to the index, and notice that the index levels are ***['city', 'weekday']***. So ***'weekday'*** - the second entry - has position 1. This position is what corresponds to the ***level*** parameter in ***.stack()*** and ***.unstack()*** calls. Alternatively, you can specify 'weekday' as the level instead of its position.

Your job in this exercise is to unstack ***users*** by ***'weekday'***. You will then use ***.stack()*** on the unstacked DataFrame to see if you get back the original layout of ***users***.

***Instructions***

* Define a DataFrame ***byweekday*** with the ***'weekday'*** level of ***users*** unstacked.
* Print the ***byweekday*** DataFrame to see the new data layout. This has been done for you.
* Stack ***byweekday*** by ***'weekday'*** and print it to check if you get the same layout as the original ***users*** DataFrame.

In [ ]:
users = pd.read_csv(users_data)
users.set_index(['city', 'weekday'], inplace=True)
users = users.sort_index()
users

In [ ]:
# Unstack users by 'weekday': byweekday
byweekday = users.unstack(level='weekday')
byweekday

In [ ]:
# Stack byweekday by 'weekday' and print it
byweekday.stack(level='weekday')

#### Stacking & unstacking II

You are now going to continue working with the ***users*** DataFrame. As always, first explore it in the IPython Shell to see the layout and note the index.

Your job in this exercise is to unstack and then stack the ***'city'*** level, as you did previously for ***'weekday'***. Note that you won't get the same DataFrame.

***Instructions***

* Define a DataFrame ***bycity*** with the ***'city'*** level of ***users*** unstacked.
* Print the ***bycity*** DataFrame to see the new data layout. This has been done for you.
* Stack ***bycity*** by ***'city'*** and print it to check if you get the same layout as the original ***users*** DataFrame.

In [ ]:
users

In [ ]:
# Unstack users by 'city': bycity
bycity = users.unstack(level='city')
bycity

In [ ]:
# Stack bycity by 'city' and print it
bycity.stack(level='city')

#### Restoring the index order

Continuing from the previous exercise, you will now use ***.swaplevel(0, 1)*** to flip the index levels. Note they won't be sorted. To sort them, you will have to follow up with a ***.sort_index()***. You will then obtain the original DataFrame. Note that an unsorted index leads to slicing failures.

To begin, print both ***users*** and ***bycity*** in the IPython Shell. The goal here is to convert ***bycity*** back to something that looks like ***users***.

***Instructions***

* Define a DataFrame ***newusers*** with the ***'city'*** level stacked back into the index of ***bycity***.
* Swap the levels of the index of ***newusers***.
* Print ***newusers*** and verify that the index is not sorted. This has been done for you.
* Sort the index of ***newusers***.
* Print ***newusers*** and verify that the index is now sorted. This has been done for you.
* Assert that ***newusers*** equals ***users***. This has been done for you, so hit 'Submit Answer' to see the result.

In [ ]:
bycity

In [ ]:
# Stack 'city' back into the index of bycity: newusers
newusers = bycity.stack(level='city')
newusers

In [ ]:
# Swap the levels of the index of newusers: newusers
newusers = newusers.swaplevel(0, 1)
newusers

In [ ]:
# Sort the index of newusers: newusers
newusers = newusers.sort_index()
newusers

In [ ]:
# Verify that the new DataFrame is equal to the original
newusers.equals(users)

### Melting DataFrames

#### Clinical Trials Data

In [ ]:
trials = pd.DataFrame([[1, 'A', 'F', 5],
                       [2, 'A', 'M', 3],
                       [3, 'B', 'F', 8],
                       [4, 'B', 'M', 9]],
                      columns=['id', 'treatment', 'gender', 'response'])
trials

#### Clinical trials after pivoting

In [ ]:
trials.pivot(index='treatment',
             columns='gender',
             values='response')

#### Clinical trials data - new

In [ ]:
new_trials = pd.DataFrame([['A', 5, 3],
                           ['B', 8, 9],],
                          columns=['treatment', 'F', 'M'])
new_trials

#### Melting DataFrame

In [ ]:
pd.melt(new_trials)

#### Specifying id_vars

In [ ]:
pd.melt(new_trials, id_vars=['treatment'])

#### Specifying value_vars

In [ ]:
pd.melt(new_trials, id_vars=['treatment'],
        value_vars=['F', 'M'])

#### Specifying value_name

In [ ]:
pd.melt(new_trials, id_vars=['treatment'],
        var_name='gender', value_name='response')

### Exercises

#### Adding names for readability

You are now going to practice melting DataFrames. A DataFrame called ***visitors_by_city_weekday*** has been pre-loaded for you. Explore it in the IPython Shell and see that it is the ***users*** DataFrame from previous exercises with the rows indexed by ***'weekday'***, columns indexed by ***'city'***, and values populated with ***'visitors'***.

Recall from the video that the goal of melting is to restore a pivoted DataFrame to its original form, or to change it from a wide shape to a long shape. You can explicitly specify the columns that should remain in the reshaped DataFrame with ***id_vars***, and list which columns to convert into values with ***value_vars***. As Dhavide demonstrated, if you don't pass a name to the values in ***d.melt()***, you will lose the name of your variable. You can fix this by using the ***value_name*** keyword argument.

Your job in this exercise is to melt ***visitors_by_city_weekday*** to move the city names from the column labels to values in a single column called ***'city'***. If you were to use just ***pd.melt(visitors_by_city_weekday)***, you would obtain the following result:

```python
      city value
0  weekday   Mon
1  weekday   Sun
2   Austin   326
3   Austin   139
4   Dallas   456
5   Dallas   237
```

Therefore, you have to specify the ***id_vars*** keyword argument to ensure that ***'weekday'*** is retained in the reshaped DataFrame, and the ***value_name*** keyword argument to change the name of ***value*** to ***visitors***.

***Instructions***

* Reset the index of ***visitors_by_city_weekday*** with ***.reset_index()***.
* Print ***visitors_by_city_weekday*** and verify that you have just a range index, 0, 1, 2, 3. This has been done for you.
* Melt ***visitors_by_city_weekday*** to move the city names from the column labels to values in a single column called ***visitors***.
* Print ***visitors*** to check that the city values are in a single column now and that the dataframe is longer and skinnier.

In [ ]:
# Create the DataFrame for the exercise
visitors = pd.DataFrame({'weekday': ['Mon', 'Sun', 'Mon', 'Sun'],
                         'city': ['Austin', 'Austin', 'Dallas', 'Dallas'],
                         'visitors': [326, 139, 456, 237]})
visitors

In [ ]:
# Reshape the DataFrame for the exercise
visitors_by_city_weekday = visitors.pivot(index='weekday',
                                          columns='city',
                                          values='visitors')
visitors_by_city_weekday

In [ ]:
# Reset the index: visitors_by_city_weekday
visitors_by_city_weekday = visitors_by_city_weekday.reset_index()
visitors_by_city_weekday

In [ ]:
# Melt visitors_by_city_weekday: visitors
visitors = pd.melt(visitors_by_city_weekday, id_vars=['weekday'], value_name='visitors')
visitors

**Notice how the melted DataFrame now has a 'city' column with Austin and Dallas as its values. In the original DataFrame, they were columns themselves. Also note how specifying the value_name parameter has renamed the 'value' column to 'visitors'.**

#### Going from wide to long

You can move multiple columns into a single column (making the data long and skinny) by "melting" multiple columns. In this exercise, you will practice doing this.

The **users** DataFrame has been pre-loaded for you. As always, explore it in the IPython Shell and note the index.

***Instructions***

* Define a DataFrame **skinny** where you melt the **'visitors'** and **'signups'** columns of **users** into a single column.
* Print **skinny** to verify the results. Note the **value** column that had the cell values in **users**.

In [ ]:
users = pd.read_csv(users_data)
users

In [ ]:
# Melt users: skinny
skinny = users.melt(id_vars=['weekday', 'city'])
skinny

**Because var_name or value_name parameters weren't specified, the melted DataFrame has the default variable and value column names.**

#### Obtaining key-value pairs with melt()

Sometimes, all you need is some key-value pairs, and the context does not matter. If said context is in the index, you can easily obtain what you want. For example, in the **users** DataFrame, the **visitors** and **signups** columns lend themselves well to being represented as key-value pairs. So if you created a hierarchical index with **'city'** and **'weekday'** columns as the index, you can easily extract key-value pairs for the **'visitors'** and **'signups'** columns by melting users and specifying **col_level=0**.

**Instructions**

* Set the index of **users** to **['city', 'weekday']**.
* Print the DataFrame **users_idx** to see the new index.
* Obtain the key-value pairs corresponding to visitors and signups by melting **users_idx** with the keyword argument **col_level=0**.

In [ ]:
users

In [ ]:
# Set the new index: users_idx
users_idx = users.set_index(['city', 'weekday'])
users_idx

In [ ]:
# Obtain the key-value pairs: kv_pairs
kv_pairs = users_idx.melt(col_level=0)
kv_pairs

### Pivot tables

#### More clinical trials data

In [ ]:
more_trials = pd.DataFrame([[1, 'A', 'F', 5],
                            [2, 'A', 'M', 3],
                            [3, 'A', 'M', 8],
                            [4, 'A', 'F', 9],
                            [5, 'B', 'F', 1],
                            [6, 'B', 'M', 8],
                            [7, 'B', 'F', 4],
                            [8, 'B', 'F', 6]],
                           columns=['id', 'treatment', 'gender', 'response'])
more_trials

#### Rearranging by pivoting

In [ ]:
try:
    more_trials.pivot(index='treatment',
                      columns='gender',
                      values='response')
except ValueError:
    print('ValueError: Index contains duplicate entries, cannot reshape')

#### Pivot table

In [ ]:
more_trials.pivot_table(index='treatment',
                        columns='gender',
                        values='response')

#### Other aggregations

In [ ]:
more_trials.pivot_table(index='treatment',
                        columns='gender',
                        values='response',
                        aggfunc='count')

### Exercises

## Grouping data

In this chapter, you'll learn how to identify and split DataFrames by groups or categories for further aggregation or analysis. You'll also learn how to transform and filter your data, including how to detect outliers and impute missing values. Knowing how to effectively group data in pandas can be a seriously powerful addition to your data science toolbox.

### Categorical and groupby

#### Sales Data

In [ ]:
sales = pd.DataFrame(
    {
        'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'bread': [139, 237, 326, 456],
        'butter': [20, 45, 70, 98]
    }
)
sales

#### Boolean filter and count

In [ ]:
sales.loc[sales['weekday'] == 'Sun'].count()

#### Groupby and count

In [ ]:
sales.groupby('weekday').count()

#### Split-apply-combine

* sales.groupby('weekday').count()
    * split by weekday
    * apply count() function on each group
    * combine counts per group

#### Aggregation/Reduction

* Some reducing functions
    * mean()
    * std()
    * sum()
    * first(), last()
    * min(), max()

#### Groupby and sum

In [ ]:
sales.groupby('weekday')['bread'].sum()

#### Groupby and sum: multiple columns

In [ ]:
sales

In [ ]:
sales.groupby('weekday')[['bread','butter']].sum()

#### Groupby and mean: multi-level index

In [ ]:
sales.groupby(['city','weekday']).mean()

#### Customers

In [ ]:
customers = pd.Series(['Dave','Alice','Bob','Alice'])
customers

#### Groupby and sum: by series

In [ ]:
sales.groupby(customers)['bread'].sum()

#### Categorical data

In [ ]:
sales['weekday'].unique()

In [ ]:
sales['weekday'] = sales['weekday'].astype('category')
sales['weekday']

#### Categorical data

* Advantages
    * Uses less memory
    * Speeds up operations like groupby()

### Exercises

### Groupby and aggregation

#### Sales data

In [ ]:
sales

#### Review: groupby

In [ ]:
sales.groupby('city')[['bread','butter']].max()

#### Multiple aggregations

In [ ]:
sales.groupby('city')[['bread','butter']].agg(['max','sum'])

#### Aggregation functions

* string names
    * 'sum'
    * 'mean'
    * 'count'

#### Custom aggregation

In [ ]:
def data_range(series):
    return series.max() - series.min()

In [ ]:
sales.groupby('weekday')[['bread', 'butter']].agg(data_range)

#### Custom aggregation: dictionaries

In [ ]:
sales.groupby(customers)[['bread', 'butter']].agg({'bread':'sum', 'butter':data_range})

### Exercises

### Groupby and transformation

#### The z-score

In [ ]:
def zscore_def(series):
    return (series - series.mean()) / series.std()

#### The automobile dataset

In [ ]:
auto = pd.read_csv(auto_mpg)
auto.head()

#### MPG z-score

In [ ]:
zscore_def(auto['mpg']).head()

In [ ]:
# imported from scipy at the top
zscore(auto['mpg'])[:5]

#### MPG z-score by year

In [ ]:
auto.groupby('yr')['mpg'].transform(zscore_def).head()

#### Apply transformation and aggregation

In [ ]:
def zscore_with_year_and_name(group):
    df = pd.DataFrame(
        {'mpg': zscore(group['mpg']),
         'year': group['yr'],
         'name': group['name']})
    return df

In [ ]:
auto.groupby('yr').apply(zscore_with_year_and_name).head()

### Exercises

### Groupby and filterning

#### The automobile dataset

In [ ]:
auto.head()

#### Mean MPG by year

In [ ]:
auto.groupby('yr')['mpg'].mean()

#### groupby object

In [ ]:
splitting = auto.groupby('yr')
type(splitting)

In [ ]:
type(splitting.groups)

In [ ]:
print(splitting.groups.keys())

#### groupby object: iteration

In [ ]:
for group_name, group in splitting:
    avg = group['mpg'].mean()
    print(group_name, avg)

#### groupby object: iteration and filtering

In [ ]:
for group_name, group in splitting:
    avg = group.loc[group['name'].str.contains('chevrolet'), 'mpg'].mean()
    print(group_name, avg)

#### Boolean groupby

In [ ]:
chevy = auto['name'].str.contains('chevrolet')
auto.groupby(['yr', chevy])['mpg'].mean()

### Exercises

## Bringing it all together

Here, you will bring together everything you have learned in this course while working with data recorded from the Summer Olympic games that goes as far back as 1896! This is a rich dataset that will allow you to fully apply the data manipulation techniques you have learned. You will pivot, unstack, group, slice, and reshape your data as you explore this dataset and uncover some truly fascinating insights. Enjoy!

### Case Study - Summer Olympics

#### Olympic medals dataset

In [ ]:
medals = pd.read_csv(medals_data)
medals.head()

#### Reminder: indexing & pivoting

* Filtering and indexing
    * One-level indexing
    * Multi-level indexing
* Reshaping DataFrames with pivot()
* pivot_table()

#### Reminder: groupby

* Useful DataFrame methods
    * unique()
    * value_counts()
* Aggregations, transformations, filtering

### Case Study Explorations

### Understanding the column labels

#### 'Gender' and 'Event_gender'

In [ ]:
medals.loc[145:154, ['NOC', 'Gender', 'Event', 'Event_gender', 'Medal']]

#### Reminder: slicing & filtering

* Indexing and slicing
    * .loc[] and .iloc[] accessors
* Filtering
    * Selecting by Boolean Series
    * Filtering null/non-null and zero/non-zero values

#### Reminder: Handling categorical data

* Useful DataFrame methods for handling categorical data:
    * value_counts()
    * unique()
    * groupby()
* groupby() aggregations:
    * mean(), std(), count()

### Case Study Explorations

### Constructing alternative country rankings

#### Counting distinct events

In [ ]:
sports = medals['Sport'].unique()
sports

#### Ranking of distinct events

* Top five countries that have won medals in the most sports
* Compare medal counts of USA and USSR from 1952 to 1988

#### Two new DataFrame methods

* idxmax(): Row or column label where maximum value is located
* idxmin(): Row or column label where minimum value is located

#### idxmax() Example

In [ ]:
weather = pd.DataFrame({'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                                  'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                        'Mean TemperatureF': [32.354839, 28.714286, 35.000000, 53.100000, 62.612903, 70.133333,
                                              72.870968, 70.000000, 63.766667, 55.451613, 39.800000, 34.935484]})
weather.set_index('Month', inplace=True)
weather

#### Using idxmax()

In [ ]:
weather.idxmax()

#### Using idxmax() along columns

In [ ]:
weather.T

In [ ]:
weather.T.idxmax(axis='columns')

#### Using idxmin()

In [ ]:
weather.T.idxmin(axis='columns')

### Case Study Explorations

### Reshaping DataFrames for visualization

#### Data

In [ ]:
medals = pd.read_csv(medals_data)

#### Reminder: plotting DataFrames

In [ ]:
all_medals = medals.groupby('Edition')['Athlete'].count()
all_medals.head(6) # Series for all medals, all years

#### Plotting DataFrames

In [ ]:
all_medals.plot(kind='line', marker='.')
plt.show()

#### Grouping the data

In [ ]:
france = medals.NOC == 'FRA'  # Boolean Series for France
france_grps = medals[france].groupby(['Edition', 'Medal'])
france_grps['Athlete'].count().head(10)

#### Reshaping the data

In [ ]:
france_medals = france_grps['Athlete'].count().unstack()
france_medals.head(12)  # Single level index

#### Plotting the result

In [ ]:
france_medals.plot(kind='line', marker='.')
plt.show()

### Case Study Explorations

### Final Thoughts

***You can now***

* Transform, extract, and filter data from DataFrames
* Work with pandas indexes and hierarchical indexes
* Reshape and restructure your data
* Split your data into groups and categories